RatGameEditor/Service References/RatGameServiceData/RatGameService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RatEngine.DataModel.Tagging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RatEngine.DataModel.Tagging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49409/RatGameService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Effectable">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Flaggable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Effects" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Effectable" nillable="true" type="tns:Effectable" />
  <xs:complexType name="Flaggable">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Flaggable" nillable="true" type="tns:Flaggable" />
</xs:schema>