RatGameEditor/Service References/RatGameServiceData/RatGameService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RatEngine.DataModel.Inventory" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RatEngine.DataModel.Inventory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49409/RatGameService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RatEngine.DataModel" />
  <xs:complexType name="Inventoried">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RatEngine.DataModel" base="q1:GameElement">
        <xs:sequence>
          <xs:element minOccurs="0" name="Inventory" nillable="true" type="tns:ArrayOfItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Inventoried" nillable="true" type="tns:Inventoried" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Inventoried">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsContainer" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
</xs:schema>